@charset "utf-8";

body{
    margin-left: 20%;
    margin-right: 20%;
}

header{
    padding: 6px;
    display: flex;
}

footer{
    padding: 6px;    
}

header, footer {
    text-align: center;
    background-color: #4464ad;
    margin-left: 20%;
    margin-right: 20%;
}

#picOfMe{
    max-width: 280px;
    height: auto;
    
    
}

li + li {
    margin-top: 8px;
}

.lessons{
    margin-left: 20%;
    margin-right: 20%;
}

.date{
    color: yellow
}

@media screen and (max-width: 700px) { 
    .home-grid {
    display: block;
    }
} 

h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    font-size:1rem;
    margin-bottom: 0.5rem;
    margin-left: 20%;
    margin-right: 20%;
}