@media only screen and (min-width: 32.5em) {
    h1 {
         font-size:2.5rem;
     }

    h2 {
         font-size: 1.5rem;
     }

    header, footer {
         border-radius: 10px;
     }

    #picOfMe{
        float: right;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 15px 15px 15px #45433f;
     }
}