@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
p {
    margin-top: -20px;
    font-family: Roboto;
    margin-left: 33px;
}

h1, h2 {
    font-family: Oswald;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    
}

h3 {
    font-family: Oswald;
}

nav {
    background-color: DodgerBlue;
    text-align: center;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 0.75rem; 
    text-decoration: none;
    font-size: 0.95rem;
    border: 2px solid black;
}

nav a:hover {
    background-color: grey;
    color: yellow;
}

img{
    max-width: 70px;
    height: auto;
    margin-right: -20px;

}

footer{
    background-color: DodgerBlue;
    padding: 6px; 
    text-align: center;
    margin-top: 150px;
    font-family: Roboto;
    margin-left: 18%;
    margin-right: 18%;
    border: .5px solid black;
}
.contentBox {
    text-align: center;
    background-color: #d6d6c2;
    margin-left: 23%;
    margin-right: 23%;
    padding: 0.75rem; 
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px dotted black;
}
nav .contentBox {
    background-color: DodgerBlue;
    color: yellow;
}

@media only screen and (min-width: 37.5em) {
    img{
        max-width: 80px;
        height: auto;
    }

    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    p{
        margin-left: 80px;
    }

    nav ul {
        display:flex;
    }

    nav li{
        flex: 1 1 100%;
    }
}

nav select {
    display: none;
  }

  @media (max-width: 670px) {
    nav ul     { display: none; }
    nav select { display: inline-block; 
        padding: 6px; 
        background-color: DodgerBlue;
        border: 3px solid black;
    }
  }
