@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto&display=swap');


html {
    background-color: #0000ff;
    border-right: 10rem solid #0000ff;;
    border-left: 10rem solid #0000ff;;
    margin: 0;
}
 
body {
    background-color: white;

}

h1 footer h2 {
    font-family: Arvo;
}

h3 h4 p{
    font-family: Roboto;
}

h1 {
    color:#0000ff;
}

#headings{
    margin-left: 1%;
    color:#0000ff;
    margin-bottom: 3rem;
    float: left;
}

nav{
    margin-right: 1%;
    margin-top: 4.8rem;
    float: right;
    margin-bottom: 3rem;
    position: sticky;
    top: 0;
    background-color: white;
    border-radius: 25px;
}


nav ul{
    display:flex;
    list-style-type: none;
    overflow: hidden;
}

nav a {
    display: block;
    color: black;
    padding: 1rem; 
    text-decoration: none;
}

.navOne{
    font-size: 125%;

}

nav select {
    display: none;
}

nav a:hover {
    color: #0000ff;
}
nav .current {
    color: #0000ff;
}

#banner {
    display: block;
    text-align: center;
    border: 2px solid black;
    margin: 0 auto; 
    width: 80%;
    box-shadow: 10px 10px 5px grey;
    float: none;
}

#companiesTitle{
    margin-left: 10%;
    margin-top: 3rem;
}

#companies{
    display:flex;
    margin-left: 10%;
    
}

#tower{
    display: block;
    border: 2px solid black;
    box-shadow: 10px 10px 5px grey;
    width: 17rem;    
}

#diapers{
    display: block;
    border: 2px solid black;
    box-shadow: 10px 10px 5px grey;
    width: 17rem;
    margin-left: 7.8%;
}

#peters{
    display: block;
    border: 2px solid black;
    box-shadow: 10px 10px 5px grey;
    width: 17rem;   
    margin-left: 7.8%; 
}

.imgComp{
    width: 15rem;   
    padding: 1rem;
    height: 8.5rem;
}

#imgpeters{
    width: 17rem;  
    height: 8.5rem;
    padding-bottom: 2rem;
}

.companiesText{
    padding-left: 1rem;
}

#learnMore{
    padding-left: 1rem;
    padding-bottom: 1rem;
}


#whatWeDo{
    display: block;
    width: 25rem;   
    margin-top: 4rem;
    margin-left: 10%;
}

#upComing{

    display: block;
    margin-top: 4rem;
    margin-left: 10%;
}

#events{
 display: grid;
 grid-template-columns: auto auto auto;
}


#weather{
    display:flex;
    margin-left: 10%;
    margin-top: 3rem;
}

#currentWeather{
    display: block;
    width: 25rem;  
}

#threeDayFor{
    display: block;
    width: 25rem;  
    padding-left: 1rem;
    margin-left: 15%;
}

#joinContactUs{
    display:flex;
    margin-left: 10%;
    margin-top: 3rem;
}

#join{
    display: block;
    width: 25rem;  
}

.button {
    font: bold 11px Arial;
    font-weight: bold;
    font-size: 5rem;
    text-decoration: none;
    background-color: #0000ff;
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    box-shadow: 10px 10px 5px grey;
  }
#contactUs{
    display: block;
    width: 15rem;  
    margin-top: 2rem;
    padding-left: 1rem;
    border: 2px solid black;
    box-shadow: 10px 10px 5px grey;
    margin-left: 17%;
}

.clearfix {
    overflow: auto;
  }
  
#more{
    display: none;
}

#currentInfo{
    width: 25rem;  
    margin-left: 10%;
    float: left;
}

#history{
    width: 25rem;  
    margin-right: 10%;
    float: right;
}

.social_logo{
    padding-right: 1rem;
    margin-top: 1rem;
    width: 2rem;
}

footer{
 background-color:#0000ff;
 color:white;
 text-align: center;
 padding: 1rem;
 margin-top: 5rem;
}

@media screen and (min-width: 1150px) and (max-width: 1500px) { 

    html {
        background-color: #0000ff;
        border-right: 5rem solid #0000ff;;
        border-left: 5rem solid #0000ff;;
        margin: 0;
    }

    #companies{
        display: grid;
        grid-template-columns: auto auto;
    }

    #diapers{
    margin-left: 0%;
    }
    
    #peters{
        margin-left: 0%;
        margin-top: 1rem;
    }
    
    #events{
        display: grid;
        grid-template-columns: auto auto
       }

    #threeDayFor{
        margin-left: 10%;
    }
    

    #contactUs{
        margin-left: 0%;
    }
}


@media (max-width: 1150px) {

    nav {
        float:right;
        border-radius: 0px;
    }

    nav ul .navMain     { display: none; }

    .navOne {
        display: inline;
    }

    nav select { display: inline-block; 
        padding: 6px; 
        margin-left: 3rem;
    }

    html {
        background-color: #0000ff;
        border-right: 2rem solid #0000ff;;
        border-left: 2rem solid #0000ff;;
        margin: 0;
    }
    #companies{
        display:block;    
    }

    #diapers{
        margin-left: 0%;
        margin-top: 1rem;
    }
    
    #peters{
        margin-left: 0%;
        margin-top: 1rem;
    }

    #whatWeDo{
        width: 17rem;   
    }

    #events{
        display: block ;
        
    }

    #weather{
        display:block;
        margin-top: 5rem;
    }

    #threeDayFor{
        padding-left: 0rem;
        margin-left: 0%;
        margin-top: 5rem;
    }

    #joinContactUs{
        display:block;
    }
    
    #contactUs{
        margin-left: 0%;
        margin-top: 5rem;
    }
}

@media (max-width: 700px) {


    nav {
        margin-top: -3rem;
        float:left;
    }

}

